/* seletor{
    propriedade: valor;
} */


/*cria a variavel para usar durante o projeto*/
:root{
    --brand: #B91F33;
    --primariy: #101417;
    --contrast: #E0E34C;
    --gray-light: #E1E1E1;
    --gray-medium: #666666;
    --white: #FFFFFF;
    --rounded: 3px;
    --section-space: 100px;
    --fundo: #2E2E2E;

    /* variavél da seta do slide que já veio pronto da biblioteca swiper, alterei ela =) */
    --swiper-navigation-color: var(--brand);


}
/* 
ctrl + f para prcurar palavras */

/* seletor all/todos */
*{
    font-family: 'teko', sans-serif;
    text-transform: uppercase; /*aplica maiúsculo aos textos*/

}

html {
    /* faz com que a navegação fique suave */
    scroll-behavior: smooth;
}

/* para formatar id usa o #. 
esse scroll é para descontar o position do menu */
#academia{
    scroll-margin-top: 150px;
}

#planos{
    scroll-margin-top: 100px;
}

#contato{
    scroll-margin-top: 130px;
}

body{
    margin: 0;
    background-color: var(--fundo);
    overflow-x: hidden; /*esconde o conteúdo que ultrapassa a largura do body, (nesse caso era o selo, criando barra de rolagem no responsivo )*/
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

h2{
    color: var(--white);
    font-size: 40px;
    line-height: 85%;
}

p{
    font-size: 18px;
    line-height: 120%;
    color: var(--gray-light);
}

a{
    text-decoration: none;/*retira a linha de todos os links*/
}

img{
    /*a imagem se comporta como elemento em linha. Esse display tira o espaço q todo elemento em linha tem em volta dele*/
    display: block;
}

/***********Utilitários***********/

.btn{
    background-color: var(--brand);
    color: var(--gray-light);
    padding: 11px 60px 9px 60px; /*top right bottom left*/
    font-size: 18px;
    border-radius: var(--rounded);
    display: inline-block; /* o elemento de link tem comportamento de linha, n de bloco. Usar esse display pro link poder ser formatado como bottom */
    transition: 0.2s;
    border: 2px transparent solid;
    cursor: pointer;
    /* cursor: url(../img/cursor.png) 14 14, pointer; */
}

.btn:hover{
    transform: scale(0.95);
}


.btn-outline{
    background-color: transparent;
    border: solid 2px var(--brand);
    
}


.container{
    max-width: 1140px; /*propriedade de largura*/
    height: auto; /*altura*/
    
    margin-left: auto;
    margin-right: auto;
    /*as duas margens auto pra centralizar o container*/
    padding-left: 15px;
    padding-right: 15px;
}

/********** fecha utilitários***********/




.bg-popup{
    width: 100%;
    height: 100vh;
    background-color: #10141771;
    position: fixed;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-popup-none{
    display: none;
}


.popup{
    position: relative; /*para o x ficar relativo ao popup*/
    
}

/* //close */
.close-popup{
    color: red;
    position: absolute;
    right: 35px;
    top: -30px;
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
}


.header{
    background-color: var(--primariy);
    padding-top: 16px;
    padding-bottom: 16px;

    /*posição fixa APÓS começar a rolar a página. Tem q ter o top 0 junto*/
    position: sticky;
    top: 0;
    z-index: 10; /*faz com que o elemento posicionado fique X camadas a frente*/
}

/*formatando o container do header*/
.header .container{
    display: flex; /*ativa o display flex*/
    justify-content: space-between; /*alinhamento no eixo x (horizontal)*/
    align-items: center; /*alinhamento no eixo y (vertial)*/
}

/*formatando todos os links do menu*/
.menu a{
    color: var(--white);
    font-size: 18px;
    font-weight: 700; /*peso/negrito da fonte*/
    margin-left: 111px;
}

/*ao passar o mouser no menu*/
.menu a:hover{
    color: var(--brand);
}

.hero-section{
    background-image: url(../img/background.jpg); /* ../ pra poder puxar a pasta img, e usar o url antes*/
    background-size: cover; /*faz com que a imagem cubra toda a div*/
    height: calc(100vh - 100px); /*view height -> unidade referente a altura do navegador, menos - o tamanho do heaer*/
    display: flex;
    align-items: center;
    text-align: center;
}


.bg-2{
    background-image: url(../img/background-2.jpg); /* ../ pra poder puxar a pasta img, e usar o url antes*/
}

.bg-3{
    background-image: url(../img/background-3.jpg); /* ../ pra poder puxar a pasta img, e usar o url antes*/
}

.hero-section h1{
    color: var(--gray-light);
    font-size: 96px;
    line-height: 90%;
}

.hero-section p{
    color: var(--gray-light);
    font-size: 24px;
}

/* .hero-section .container{
    background-color: blue;
} */





.nossa-academia{
    margin-top: var(--section-space);
    margin-bottom: var(--section-space);
    display: flex;
    align-items: center;
    column-gap: 24px;/*espaçamento em coluna entre os filhos do flex/flex itens*/
}


/* .content-academia{
    flex-direction: column; */
    
    
    /* align-items: center; */
    /* text-align: center;
} */

/* .nossa-academia img{
    width: 558px;
}
  */

.faca-parte{
    background-color: var(--gray-light);
    
}

.faca-parte .content{
    width: calc(100% - 200px);/*para ajustar o texto no responsivo*/
    max-width: 850px;
    padding: 37px 0; /*primeiro valor é o eixo y, o outro, eixo x*/
}

.faca-parte h2{
    color: var(--primariy);
}

.faca-parte p{
    color: var(--gray-medium);
}

.faca-parte .container{
    /*Posição para servir de referência ao absolute da imagem*/
    position: relative;
}

/*Posição da imagem em relação ao elemento pai (desde que ele também tenha position,
 caso contráeio em relação ao body)*/
.faca-parte .image{
    position: absolute;
    bottom: 0;
    right:0;
}

.planos{
    margin-top: var(--section-space);
    margin-bottom: var(--section-space);
    text-align: center;
}

.flex-cards{
    display: flex;
    column-gap: 24px;
}

.card{
    /* border-width: 1px;
    border-style: solid;
    border-color: var(--gray-light); */
    border: 1px solid var(--gray-light);
    border-radius: var(--rounded);
    padding: 30px;
    /* -ms-text-combine-horizontal: ; */
    
}

.card h3{
    color: var(--white);
    font-size: 32px;
}

.card ul{
    color: var(--gray-light);
    text-align: left;
    font-size: 18px;
    line-height: 120%;
    list-style-position: inside; /*posição a partir do marcador ds linha (a bolinha)*/
    padding: 0;
}

.card .btn{
    display: block;
}

.card-destaque{
    border-color: var(--contrast);
    position: relative;
}

@keyframes rotate {

    0%{
        transform: rotate(0);
    }

    25%{
        background-color: aqua;
        color: #666666;
    }

    50%{
        background-color: palevioletred;
        color: #B91F33;
    }

    75%{
        background-color: red;
        color: black;
    }

    100%{
        transform: rotate(360deg);
    }
    
}

.selo{
    animation: rotate 10s infinite linear;
    width: 70px;
    height: 70px;
    background-color: var(--contrast);
    border-radius: 50%;
    display: flex;
    align-items: center;
    line-height: 90%;
    position: absolute;
    top: -15px;
    right: -10px;
}

/* .selo span{
    transform: rotate(18deg);

    funciona mesmo para entortar o texto
} */

.card-destaque .price{
    color: var(--contrast);
}


.price{
    color: var(--white);
    font-size: 32px;
    font-weight: 700;
}

.fale-conosco{
    display: flex;
    column-gap: 24px;
}

.fale-conosco input, .fale-conosco textarea{
    display: block;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: solid 1px var(--gray-light);
    border-radius: var(--rounded);
    padding: 10px;
    box-sizing: border-box; /*faz com que o padding e borda não aumente as dimensões*/
    margin-bottom: 10px;
    font-size: 18px;
    color: var(--gray-light);
}

.fale-conosco textarea{
    height: 140px;
}

.fale-conosco ::placeholder{
    color: var(--gray-medium);
}

.footer{
    background-color: var(--brand);
    text-align: center;
    padding: 14px 194px; /* vertical (top/bottom) horizontal (left/right) */
    margin-top: var(--section-space);
    margin-bottom: 30px;

}

.footer p{
    margin: 0;
}

.social{
    display: flex;
    justify-content: center; /*: trabalha na horizontal*/ /*align-items: na vertical;*/
    column-gap: 10px;
    margin-bottom: var(--section-space);
}


/*Para telas de máximo 1279px*/
@media (max-width: 1279px){

    h2{
        font-size: 32px;
    }

    .card h3{
        font-size: 24px;
    }

    .menu{
        /* display: none; */
        /* background-color: var(--brand); */
        /* background-image: linear-gradient(var(--primariy), (var--fundo)); */
        background-image: linear-gradient(var(--primariy), var(--fundo));
        width: 100%;
        height: calc(100vh - 100px);
        /* height: 420px; */
        position: fixed;
        right: 0;
        top: 100px;

        display: flex;
        flex-direction: column;
        transform: translateX(-100%);
        transition: 0.5s;
        
    }


    /* classe que será inserida no js para mostrar o menu aberto */
    .menu-open{
        transform: translateX(0);
    }

    

    .menu a{
        margin: 0; /* tirando a margem dada no começo */
        padding: 25px 15px;
        border-bottom: 1px solid black;

    }

    .menu a:active{
        background-color: var(--brand);
        color: var(--white);
    }

    .bar{
        width: 40px;
        height: 3px;
        background-color: var(--white);
        margin-bottom: 3px;
        transition: 0.3s;
    }

    /* x é classe adicionada pelo js */
    .x .bar:first-child{
        background-color: red;
        transform: rotate(45deg) translate(5px, 5px);
        transition-delay: 0.2s;
    }

    .x .bar:last-child{
        background-color: red;
        transform: rotate(-45deg) translate(3px, -3px);
        transition-delay: 0.3s;

    }

    .x .bar:nth-child(2){
        opacity: 0;
        transform:translateX(-150px) ;
    }

    .hero-section{
        /* height: auto;
        padding-top: 94px;
        padding-bottom: 94px; */
        height: 420px;
        background-position: top center;
    }

    .hero-section h1{
        font-size: 36px;
    }

    .hero-section p{
        font-size: 18px;
        
    }

}

@media (max-width: 1023px){
    .nossa-academia{
        flex-direction: column;
        row-gap: 40px;

    }
    
    .nossa-academia img{
        width: 100%;
    }

    .flex-cards{
        /*quando o direction estiver em coluna, justify-content e align-itens trocam/invertem o alinhamento*/
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
        
    }

    .card{
        max-width: 450px;
    }

    .fale-conosco{
        flex-direction: column;
        row-gap: 30px;
    }

    .fale-conosco iframe{
        width: 100%;
    }

    .footer{
        padding: 14px;
    }
}

@media (max-width: 650px){

    .faca-parte .content{
        width: 100%;
    }

    .faca-parte .image{
        display: none;
    }

    .popup img{
        width: 320px;
    }


}